@model IEnumerable<WebCoreMVC.NET.Models.Task>

    @{
        ViewData["Title"] = "Person";
    }

    <h1>Person</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.taskId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sprintUserStoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sprintUserStoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                </tr>

            }
        </tbody>
    </table>

