@model IEnumerable<Project>

@{
    ViewData["Title"] = "Projects";
}
<head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">

</head>
<body>
<h1>Projects</h1>
<div class="row">
    <div class="structure">
        <div class="create_project">
            <h3>Create New Project</h3>
            <button id="create" class="w3-button w3-xlarge w3-black w3-card-4" onclick="location.href='@Url.Action("CreateProject")'">+</button>
        </div>
        @foreach (var item in Model) {
            <div class="project">
                <h1>@Html.DisplayFor(modelItem => item.name)</h1>
                @if(item.isAdministrator == true)
                {
                    <div class="admin">Admin</div>
                }
                <div class="buttonContainer">
                    <button class="example_c" onclick="location.href='@Url.Action("Index", "Sprint", new {item.projectId})'">Sprints</button>
                    <button class="example_c" onclick="location.href='@Url.Action("BacklogFromLastSprint", "Backlog", new {item.projectId})'">Product Backlog</button>
                    <div class="break"> </div>
                    <button class="example_c">Burndown Chart</button>
                    <button class="example_c">Edit Project</button>
                    <div class="break"> </div>
                    <button class="example_c" onclick="location.href = '@Url.Action("Index", "Members", new {item.projectId})'">Edit Members</button>
                    <button class="example_c">Leave Project</button>
                </div>
            </div>
        }

    </div>

</div>
</body>