@model IEnumerable<WebCoreMVC.NET.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Project ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Number of iterations
                    </th>
                    <th>
                        Length Of Sprint
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.projectId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.numberOfIterations)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lengthOfSprint)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <input class="text-center" type="button" value="Create" onclick="location.href='@Url.Action("CreateProject")'" />
    </div>
</div>
